.otpClass {
  width: 40px !important;
  height: 40px;
  border: 2px solid #334f3e;
  border-radius: 8px;
  color: #334f3e !important;
  margin: 10px 20px 0px 3px !important;
  padding: 5px;
}

otpClass:focus-visible {
  border: 0.1px solid #334f3e;
  color: #334f3e;
}

.errorClass {
  width: 40px !important;
  height: 40px;
  border: 2px solid red;
  border-radius: 8px;
  color: #efb443 !important;
  margin: 10px !important;
  padding: 5px;
}

.otpClass:focus {
  color: #334f3e !important;
  border: 1px solid #334f3e !important;
}

.clear-icon {
  cursor: pointer;
}

.errorClass {
  width: 25px !important;
  height: 35px;
  margin: 10px !important;
  padding: 5px;
  border: 2px solid red;
}

.router-link {
  text-decoration: none;
}

.otp-bg {
  /* background-image: url("../../assets/media/images/login.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  /* border: var(--bs-card-border-width) solid var(--bs-card-border-color); */
  border-radius: var(--bs-card-border-radius);
}
.card {
  box-shadow: none !important;
  border: none;
  border-radius: none;
}
